node_modules/
dist/
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp

# Test
coverage/

# Docker
*.local

# Misc
*.tgz

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Build
build/
